<div class="now-playing">
	<h1 class="text-center">Playing</h1>
	<h3 id='track-title' class="text-center">{{track.title}}</h3>
	<div id='track-artist' class="text-center">{{track.artist}}</div>
	<div id='track-album' class="text-center">{{track.album}}</div>
	<div class="progress" style="width:50%; margin-left:auto; margin-right:auto" class="center text-center">
  		<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" *ng-if="!timeLeft">{{timeIn | date:'mm:ss'}}</div>
  		<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width]="percentageIn+'%'" *ng-if="!!timeLeft">{{timeIn | date:'mm:ss'}}</div>
	</div>
</div>
