<now-playing-component></now-playing-component>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation" [class.active]="getLinkStyle('')">
				<a [router-link]="['Queue']" aria-controls="queue">
					<span class="glyphicon glyphicon-music large-glyph" aria-hidden="true"></span>
					<div>Queue</div>
				</a>
			</li>
			<li role="presentation" [class.active]="getLinkStyle('/Library')">
				<a [router-link]="['Library']" aria-controls="library">
					<span class="glyphicon glyphicon-book large-glyph" aria-hidden="true"></span>
					<div>Library</div>
				</a>
			</li>
			<li role="presentation" [class.active]="getLinkStyle('/History')">
				<a [router-link]="['History']" aria-controls="history">
					<span class="glyphicon glyphicon-time large-glyph" aria-hidden="true"></span>
					<div>History</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
		<router-outlet></router-outlet>
	</div>
</div>
