<div>
  <table id="library-table" class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ng-for="#track of tracks" >
        <td><button type="button" (click)="onClick(track.trackId)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
        <td>{{track.title}}</td>
        <td>{{track.artist}}</td>
        <td>{{track.album}}</td>
        <td>{{track.minutes}}:{{track.seconds | number:'2.0'}}</td>
      </tr>
    </tbody>
  </table>
</div>