<div>
  <table id="library-table" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Time</th>
        <th>Played</th>
      </tr>
    </thead>
    <tbody>
      <tr *ng-for="#track of tracks; #idx=index">
        <td>{{idx+1}}</td>
        <td>{{track.title}}</td>
        <td>{{track.artist}}</td>
        <td>{{track.album}}</td>
        <td>{{track.minutes}}:{{track.seconds | number:'2.0'}}</td>
        <td>{{track.displayDate | date:'MMM, d jm'}}</td>
      </tr>
    </tbody>
  </table>
</div>