<!doctype html>
<html lang="en">
<head>
  <title>LightShow</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href=".">
  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/angular2/bundles/angular2.dev.js"></script>
  <script src="vendor/angular2/bundles/router.dev.js"></script>
  <!--<script src="vendor/angular2/bundles/http.dev.js"></script>-->
  <script src="scripts/shim/es6-shim.min.js"></script>
  <script src="https://code.angularjs.org/2.0.0-alpha.46/http.dev.js"></script>
  <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="styles/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
  {{content-for 'head'}}
  <script>
    System.config({
      packages: {
        app: {
          format: 'register',
          defaultExtension: 'js'
        }
      }
    });
    System.import('app.js').then(null, console.error.bind(console));
  </script>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <style>
    .large-glyph{
      font-size:2em;
    }
  </style>
</head>
<body>
  <light-show-app>Loading...</light-show-app>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="scripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
